<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Guru99_Logi_Page.Login_Page"/>
      <class name="Guru99_Login_Object.LoginPage_Object"/>
      <class name="Utilities.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
